<form id="accounts-form">
    <div class="row">
        <div class="six columns">
            <label for="email">email</label>
            <input class="u-full-width" id="email" type="email">
        </div>
        <div class="six columns">
            <label for="password">password</label>
            <input class="u-full-width" id="password" type="password">
        </div>
    </div>
    <div id="account-buttons">
        <input class="button-primary" type="button" value="{{accounts-form-type}}">
        <input class="button-primary" type="button" value="cancel" onclick="main.$('#accounts-section').className='off'; return false;">
        {{#login}}
        <p>Don’t have an account? Go <a href="/create-account" class="layout">create one</a>.</p>
        {{/login}}
        {{#create-account}}
        <p>To sign up, just enter your email and submit. We will send you a password that you can change. But before you do that <a href="/legalese" class="layout">you should read</a> what our lawyers make us say.</p>
        {{/create-account}}
    </div>
</form>
