body {
    font-size: 18px;
}

.on {
    visibility: visible;
    display: block;
    margin-left: 0em;
    padding: 5px;
}
.off {
    visibility: hidden;
    display: none;
}
.offblock {
    visibility: hidden;
    display: block;
}

/* header */
nav {
    font-size: 0.8em;
    margin-bottom: 1em;
}
nav > a {
    margin-right: 0.7em;
}

h2 {
    font-size: 3rem;
    line-height: 0.5em;
}
h2 a {
    text-decoration: none;
    color: black;
}
h2 #byline {
    font-size: 0.5em;
    color: grey;
    line-height: 0.5em;
}

#count {
    font-size: 0.8em;
    color: grey;
}
/* end header */

/* footer */
footer {
    font-size: 0.7em;
    margin-top: 1.5em;
    color: grey;
}
/* end footer */

/*
 * make the height of dt automatic to fit all the content such as an
 * inderminate number of tags
 *
 * https://developer.mozilla.org/en/docs/Web/CSS/clear
 */
dt::after {
   content: "";
   display: block;
   clear: both;
}
dt.entry {
    cursor: pointer;
    border-bottom: 1px #ccc solid;
    padding: 0.25em 0.25em 10px 0.5em;
}
dt.closed {
    background-color: #fff;
}
dt.open {
    background-color: #c0c0c0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
dt>ul {
    margin-bottom: 2em;
}
/*
dt.entry.closed:before {
    content: "+ ";
}
dt.entry.open:before {
    content: "- ";
}
*/
dd > a {
    color: blue;
}
dd {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0.5em;
    border: 1px solid #f5f5f5;
}

/* search form */
#search {
    height: 55px;
}
#q {
    width: 100%;
    border: none;
    border-bottom: 1px #000 dotted;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#search-form label {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: -18px;
}

/* tags at the top of the page */
#tags {
    padding-left: 0px;
    border: 1px solid white;
}
#tags li a, ul.tags li a {
    text-decoration: none;
}
#tags li, ul.tags li {
    list-style: none;
    margin: 2px;
    float: left;
    border: 1px solid #ccc;
    padding: 2px 5px 2px 5px;
    background-color: #f5f5f5;
    font-size: 0.7em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#tags li:hover, ul.tags li:hover {
    background-color: yellow;
}
#tags:after {
    clear: both;
    content: "";
    display: table;
}
li.in_focus {
    background-color: #ffcc00 !important;
}
li.not_in_focus {
    background-color: #fff !important;
}

.ltag, .rtag {
    float: left;
    width: 15px;
}
.ltag {
    text-align: left;
}
.mtag {
    float: left;
}
.rtag {
    text-align: right;
}
a.star {
    text-decoration: none;
    color: black;
}
a.star:hover {
    background-color: #ff8000;
}
.onetab {
    margin-left: 2em;
}
.twotabs {
    margin-left: 4em;
}

.resource h2 {
    line-height: 1em;
    font-size: 1.2em;
}

.stuff {
    margin-top: 1em;
}

.clusterHeader {
    font-weight: bold;
}

.pollen_file, .venom_file, .wax_file {
    border-bottom: 1px solid grey;
}

/* .wax_content pre:nth-child(even) {background: #CCC}
.wax_content pre:nth-child(odd) {background: #FFF} */

/* https://stanhub.com/tutorials/responsive-horizontal-css-only-tabs/ */
.main {margin: 0 auto; min-width: 250px; max-width: 960px;}
.content {background: #fff; color: #373737; border: 1px solid #ccc; margin-top: -5px; }
.content > div {display: none; padding: 20px 25px 5px;}

.main input {display: none; !important}
label {display: inline-block; padding: 8px 18px; font-weight: 600; text-align: center;}
label:hover {color: #c0c0c0; cursor: pointer;}
input:checked + label {background: #ccc; color: #000;}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
  display: block;
}
